{% extends "base.html" %}

{% block title %}
Mes commandes - FormaShop
{% endblock %}

{% block content %}

<section>

    <h1>Mes commandes</h1>

    {% if orders %}

        {% for order in orders %}

            <article>

                <h2>
                    Commande #{{ order.id }}
                </h2>

                {% if order.product %}

                    <p>
                        Produit :
                        {{ order.product.name }}
                    </p>

                {% endif %}

                <p>
                    Quantité :
                    {{ order.quantity }}
                </p>

                <p>
                    Montant :
                    {{ order.total_price }} FCFA
                </p>

                <p>
                    État :
                    {{ order.get_status_display }}
                </p>

                <p>
                    {% if order.seller_confirmed %}
                        ✅ Livraison confirmée
                    {% else %}
                        ⏳ Livraison en attente
                    {% endif %}
                </p>

                <p>
                    {% if order.customer_confirmed %}
                        ✅ Réception confirmée
                    {% else %}
                        ⏳ Réception en attente
                    {% endif %}
                </p>

                <a href="{% url 'order_detail' order.id %}">
                    Voir la commande
                </a>

            </article>

            <hr>

        {% endfor %}

    {% else %}

        <p>
            Vous n'avez encore aucune commande.
        </p>

    {% endif %}

</section>

{% endblock %}