{% extends "base.html" %}

{% block title %}Modifier {{ product.name }} - FormaShop{% endblock %}

{% block content %}

<section class="page-header">

    <h1>Modifier le produit</h1>

    <p>
        {{ product.name }}
    </p>

</section>


<section class="form-container">

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Enregistrer les modifications
        </button>

    </form>

</section>

{% endblock %}